/* Reset default styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

/* Center align everything */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px; /* Add padding to the entire page */
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Navigation Styles */
nav {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px; /* Add vertical padding to the navbar */
    width: 100%; /* Set navbar width to match header */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #17a2b8;
}

/* Dropdown styles */
select {
    position: absolute;
    top: 40%;
    left: 50%; /* Move to the center horizontally */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white!important; /* Dropdown background color */
    border: 1px solid white!important; /* Dropdown border color */
    color: black !important; /* Dropdown text color */
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px; /* Adjust width as needed */
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}

select option {
    background-color: #fff;
    color: #4CAF50 !important; /* Dropdown option background color */
}

select:hover {
    border-color: #999 !important;
}

select:focus {
    outline: none;
    border-color: #333 !important;
}

button {
    position: absolute;
    top: 37%;
    left: 57%; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


/* Dropdown section styles */
.dropdown-section {
    margin-bottom: 100px; /* Add space below the dropdown */
}

/* About Florida styles */
section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 100px;
}

section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px; /* Add space below the paragraph */
}


/* Button styles */
/*button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}*/

/* Footer styles */
/*footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Additional styles for image */
img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default image spacing */
    margin: 0 auto 20px; /* Center align images and add some space below */
    width: 900px; /* Set a standard width for images */
    max-height: 600px; /* Set a maximum height for images */
    object-fit: cover; /* Ensure images maintain aspect ratio while covering the container */
}

/* Additional class for container */
.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center align container */
    padding: 0 20px; /* Add some padding to the sides */
}

/* Styling for country description */
.countryDescription {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Styling for chart container */
.chartContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center align container */
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}